.custom-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  background-color: #f7f7f7;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 8px;
  color: #333;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em;
}

input:focus,
select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.small-text {
  font-size: 0.8em;
  color: #666;
}

.submit-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  color: #dceaea;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  background: rgb(111, 100, 100);
  margin-top: 17px;
}

.submit-button:hover {
  background-color: #00b351;
}
